@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

html {
    overflow-y: scroll;
}

body {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 10px;
    padding-right: 10px;
}

.content {
    padding-top: 1rem;
}

/* Input */

.form-control:focus {
    box-shadow: none;
}

/* Button */

.btn {
    color: rgb(90, 90, 90);
    border-color: rgb(206, 212, 218)
}

.btn:hover {
    color: rgb(128, 189, 255);
    border-color: rgb(128, 189, 255);
}

.btn:focus {
    box-shadow: none;
}

.btn-nav {
    color: rgb(90, 90, 90);
    border-width: 0px;
}

.btn-nav:hover {
    color: rgb(128, 189, 255);
}

.btn-nav:focus {
    box-shadow: none;
}

.close:focus, .close:active {
    outline: none;
    box-shadow: none;
}

/* Navigation */

.navbar {
    color: rgb(90, 90, 90);
    background-color: rgba(255, 255, 255, 0.9);
}

.nav-link {
    font-size: larger;
    color: rgb(90, 90, 90);
}

.nav-link:hover {
    color: rgb(0, 0, 0);
}

.nav-link:active {
    color: rgb(17, 146, 0);
}

.navbar-brand {
    padding: 0;
}

/* Navigation dropdown */

.dropdown-menu-user {
    right: 0;
    left: auto;
    padding: 20px;
    width: 300px;
    display: none;
    margin-top: -3px;
}

.dropdown-menu-decks {
    right: 0;
    left: 50%;
    padding: 20px;
    width: 300px;
    display: none;
    margin-top: -3px;
    -webkit-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

.dropdown:hover .dropdown-menu {display: block;}

/* Footer */

.footer {
    background-color: rgba(255, 255, 255, 0.9);
    color: rgb(90, 90, 90);
}

/* Phone */

@media (min-width: 768px) {

    .navbar-toggler {
        display: none;
    }
}

/* Connection lost, failed, rejected */

.reconnect-modal > div {
    position: absolute;
    top: 80px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.95);
    text-align: center;
}
.components-reconnect-hide > div
{
    display: none;
}

.components-reconnect-show > div
{
    display: none;
}
.components-reconnect-show > .show
{
    display: block;
}

.components-reconnect-failed > div
{
    display: none;
}
.components-reconnect-failed > .failed
{
    display: block;
}

.components-reconnect-rejected >div
{
    display: none;
}
.components-reconnect-rejected > .rejected
{
    display: block;
}

/* Common */


.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}
