@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

html {
    overflow-y: scroll;
}

body {
    margin: 2%;
    margin-top: 110px;
}

.content {
    padding-top: 1rem;
}

/* Input */

input-group {
    width: 100%;
}

input[type="range"] {
    width:100%;
}

input[type="checkbox"] {
    margin-top: 7px;
    border-color: rgb(206, 212, 218, 1);
    box-shadow: none;
}

.textarea {
    resize: none;
}

.form-control:read-only {
    background-color: white;
 }

.form-control {
    resize: none;
}

.form-control:focus {
    box-shadow: none;
    border-color: rgb(54, 103, 150, 1);
    outline-color: rgb(54, 103, 150, 1);
}

.form-check {
    border-color: rgb(206, 212, 218, 1);
}

/* Button */

.btn {
    color: rgb(90, 90, 90, 1);
    border-color: rgba(0, 0, 0, 0);
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}

.btn:focus {
    box-shadow: none;
}

.btn:hover
{
    color: rgb(54, 103, 150, 1);
    -webkit-filter: grayscale(0);
    filter: none;
}

.btn-active
{
    color: rgb(54, 103, 150);
    -webkit-filter: grayscale(0);
    filter: none;
}

.btn-inactive {
    color: rgba(0, 0, 0, 0);
}

.btn-search
{
    font-size: 16px;
    text-transform: uppercase;
    font-family: AristaBold sans-serif;
    border-color: rgb(206, 212, 218, 1);
}

.btn-select
{
    font-size: 14px;
    margin-top: -7px;
    margin-bottom: -5px;
    margin-left: -12px;
}

.btn-favorite
{
    font-size: 14px;
    margin-top: -9px;
    margin-bottom: -5px;
}

.btn-sort {
    font-size: 18px;
    text-transform: uppercase;
    font-family: AristaBold sans-serif;
    white-space: nowrap;
}

.btn-accept {
    font-size: 18px;
    text-transform: uppercase;
    font-family: AristaBold sans-serif;
}

.btn-accept:hover {
    color: rgb(63, 150, 54, 1);
}

.btn-clear {
    font-size: 16px;
    text-transform: uppercase;
    font-family: AristaBold sans-serif;
}

.btn-clear:hover {
    color: rgb(150, 54, 54, 1);
}

.btn-nav-small
{
    width: 100%;
    font-size: 16px;
    text-transform: uppercase;
    font-family: AristaBold sans-serif;
    
}

.btn-nav-big
{
    font-size: 24px;
    text-transform: uppercase;
    font-family: AristaBold sans-serif;
}

.close {
    width: 30px;
    height: 30px;
    margin-left: -30px;
    margin-top: -10px;
}

.close:focus, .close:active {
    outline: none;
    box-shadow: none;
}

.btn-tooltip {
    width: 30px;
    margin-left: -30px;
}

.btn-nav-group
{
    width: 100%;
}

/* Navigation */

.navbar {
    color: rgb(90, 90, 90);
    background-color: rgba(255, 255, 255, 0.8);
    align-content: space-around;
}

.navbar-text {
    margin: -20px;
    font-size: 24px;
    text-transform: uppercase;
    font-family: AristaBold sans-serif;
    color: rgb(54, 103, 150, 1);
}

.nav-link {
    width: fit-content;
}

/* Navigation dropdown */

.dropdown-menu-user {
    right: 30%;
    left: auto;
    padding: 20px;
    width: 300px;
    display: none;
    margin-top: -3px;
}

.dropdown-menu-decks {
    right: 0;
    left: 50%;
    padding: 20px;
    width: 300px;
    display: none;
    margin-top: -3px;
    -webkit-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

.dropdown-menu-tooltip-center {
    right: 0;
    left: 50%;
    width: fit-content;
    display: none;
    -webkit-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

.dropdown-menu-tooltip-left {
    right: 0;
    left: auto;
    width: fit-content;
    display: none;
}

.dropdown-menu-tooltip-right {
    right: auto;
    left: 0;
    width: fit-content;
    display: none;
}

.dropdown:hover .dropdown-menu
{
    display: block;
}

/* Icon */
.svg-start {
    margin-top: -4px;
}

/* Divider */

.divider {
    width: 100%;
    height: 1px;
    background-color: rgb(206, 212, 218, 1);
}

/* Notification */

.alert {
    flex: content;
}

/* List */

.table
{
    font-size: 14px;
}

.table thead th
{
    border: 0;
}

/* Footer */

.footer
{
    font-size: 16px;
    font-family: AristaBold sans-serif;
    color: rgb(90, 90, 90);
    background-color: rgba(255, 255, 255, 0.8);
}

.footer-copyright 
{
    font-family: sans-serif;
    font-weight: bold;
}

/* Text */

.text-header {
    font-size: 24px;
    text-transform: uppercase;
    font-family: AristaBold sans-serif;
    color: rgb(90, 90, 90);
}

.text-subheader {
    font-size: 18px;
    text-transform: uppercase;
    font-family: AristaBold sans-serif;
    color: rgb(90, 90, 90);
}

.text-tooltip {
    text-align: center;
    margin: -10px;
    font-size: 14px;
    font-family: sans-serif;
}

/* Connection lost, failed, rejected, error */

.reconnect-modal > div {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    position: absolute;
    overflow: hidden;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.80);
}
.components-reconnect-hide > div
{
    display: none;
}

.components-reconnect-show > div
{
    display: none;
}
.components-reconnect-show > .show
{
    display: block;
}

.components-reconnect-failed > div
{
    display: none;
}
.components-reconnect-failed > .failed
{
    display: block;
}

.components-reconnect-rejected >div {
    display: none;
}
.components-reconnect-rejected > .rejected {
    display: block;
}

/* Common */

@font-face {
    font-family: AristaBold;
    src: url('font/AristaBold.ttf');
}

@font-face {
    font-family: AristaLight;
    src: url('font/AristaLight.ttf');
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

/* Font resize */

@media screen and (max-width: 600px) {

    .btn-sort {
        font-size: 11px;
    }

    .btn-select {
        font-size: 11px;
    }

    .table .footer {
        font-size: 11px;
    }

    .footer {
        font-size: 11px;
    }

    .text-header {
        font-size: 14px
    }

    .text-16 {
        font-size: 11px;
    }

    .dropdown-menu-user {
        right: 0px;
    }

}