@page "/"
@namespace Srs.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=0.6, maximum-scale=1.5;" />
    <title>Srs</title>
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" />
</head>
<body>
    <div id="components-reconnect-modal" class="reconnect-modal components-reconnect-hide">
    <div class="show row text-bold-large"><br>
        <span>Connection lost, attempting to reconnect to server.</span>
    </div>
    <div class="failed row text-bold-large"><br>
        <span>Connection failed, please refresh the page.</span>
    </div>
    <div class="rejected row text-bold-large"><br>
        <span>Connection rejected, please refresh the page.</span>
    </div>
</div>
<app>
    @(await Html.RenderComponentAsync<App>(RenderMode.ServerPrerendered))
</app>
<script src="_framework/blazor.server.js"></script>
</body>
</html>