@page "/Deck"

@using Srs.Data
@inject Data.Service Service

<div class="container">
	<div class="row justify-content-center">

		<!-- Review -->
		<div class="col mr-3" align="center">
			<span class="text-header">Review</span>

			<!-- Question -->
			<div class="row">
				<textarea class="form-control text-center mt-2" maxlength="0" rows="3" placeholder="" readonly></textarea>
			</div>

			<!-- Answer -->
			<div class="row">
				<textarea class="form-control text-center mt-2" maxlength="50" rows="3" placeholder="Type"></textarea>
			</div>	

		</div>

		<!-- Options -->
		<div class="col ml-3" align="center">
			<span class="text-header">Options</span>

			<!-- Review slider -->
			<div class="row mt-2">
				<div class="input-group input-group-sm justify-content-center">
					<span class="text-subheader">Number of cards to review: @reviewNumber</span>
					<input type="range" class="form-range" min="10" max="50" step="5" @bind-value="reviewNumber">
				</div>
			</div>

			<!-- Card slider -->
			<div class="row mt-2">
				<div class="input-group input-group-sm justify-content-center">
					<span class="text-subheader">Percentage of new cards: @newNumber %</span>
					<input type="range" class="form-range" min="0" max="100" step="10" @bind-value="newNumber">
				</div>
			</div>

			<!-- Typos -->
			<div class="row mt-2" align="center">
				<div class="container">
 					<input class="form-check-input" type="checkbox" id="allowTypos" @bind-value="allowTypos">
					<span class="text-subheader" for="allowTypos">Allow small typos</span>
				</div>
			</div>

			<div class="divider mt-2"></div>


			<div class="row justify-content-center mt-2">
				<button class="btn btn-nav-big" type="button">
                    <img src="svg/Play.svg" alt="" width="20" height="20" title="Decks" class="svg-start">
                    <span>Start</span>
                </button>
			</div>
		</div>
	</div>
</div>

@code
{
	private int reviewNumber = 10;
	private int newNumber = 50;
	private bool allowTypos;

	// Accept enter on search
    private void SearchDeck(KeyboardEventArgs e = null) {
        if (e.Code == "Enter" || e.Code == "NumpadEnter") {  
        }
    }
}