@page "/Deck"

@using Srs.Data
@inject DataService Service

<!-- Deck header -->
<div class="row justify-content-center">
	<span class="text-header">Deck</span>
</div>

<!-- Deck group -->
<div class="input-group input-group-sm">

	<!-- Name -->
 	<div class="input-group-prepend">
    	<span class="input-group-text bi bi-stack"></span>
    </div>
	<input type="text" class="form-control rounded-right" placeholder="Name" aria-label="Deck name">

	<!-- User -->
	<div class="input-group-prepend ml-2">
    	<span class="input-group-text bi bi-people-fill rounded-left"></span>
    </div>
	<input type="text" class="form-control rounded-right" placeholder="Users" aria-label="Deck name">

	<!-- User tooltip -->
	<div class="dropdown">
  		<button class="btn btn-sm btn-tooltip">
			<span class="dropdown bi bi-question-circle"></span>
		</button>
  		<div class="dropdown-menu dropdown-menu-tooltip-left">
			<span class="dropdown-item text-tooltip disabled">Seperate multiple users with comma.</span>
			<span class="dropdown-item text-tooltip disabled">(e.g. user1,user2)</span>
		</div>
	</div>
</div>

<div class="h-divider"></div>

<!-- Cards -->
<div class="row justify-content-center mt-2">
	<span class="text-header">Card information</span>
</div>

<div class="row justify-content-center mt-2">
	<span class="text-header">Cards</span>
</div>

@code
{
	private Deck currentDeck;

	// Accept enter on search
    private void SearchDeck(KeyboardEventArgs e = null) {
        if (e.Code == "Enter" || e.Code == "NumpadEnter") {  
        }
    }

}