@page "/"

<div class="form-group pull-right">
<input type="text" class="search form-control" placeholder="What you looking for?">
</div>

<div class="container">
  <div class="row">
    <div class="col-1 bg-primary">
      1 of 3
    </div>
    <div class="col-6 bg-warning">
      2 of 3 (wider)
    </div>
    <div class="col-4 bg-primary">
      3 of 3
    </div>
    <div class="col-1 bg-warning">
      3 of 3
    </div>
  </div>
</div>

@code
{

}