@page "/Modify"

@using Srs.Data
@inject Srs.Service Service
@inject Srs.ServiceData ServiceData
@inject NavigationManager Navigation

<div class="container">

	<!-- Search -->
	<div class="row">
		<div class="input-group justify-content-center">
			<input type="search" class="form-control text-light-medium text-black" placeholder="What are you looking for?" @bind-value="deckSearch" @bind-value:event="oninput" aria-label="Search">
		</div>
	</div>

	<!-- Select -->
	<div class="row justify-content-between">
		<div class="col" align="left">
			<button class="btn text-bold-large disable" type="button">
				Select deck <span class="bi bi-arrow-down-right-circle-fill"></span></button>
		</div>
		<!-- Create new -->
		<div class="col" align="right">
			<button class="btn text-bold-large hover-green" type="button" @onclick="@(()=>Navigation.NavigateTo("/Create"))"><span class="bi bi-plus-circle-fill"> Create new</span></button>
		</div>
	</div>

	<div class="divider"></div>

	<!-- Table -->
	<div class="row justify-content-center">
		<table class="table table-new table-sm">
			<colgroup>
       			<col span="1" style="width: 85%;">
				<col span="1" style="width: 5%;"> 
       			<col span="1" style="width: 5%;">
			</colgroup>

			<!-- Sort -->
  			<thead>
	    		<tr>

					<!-- Sort by name -->
      				<th scope="col">
						<div class="btn-group" role="group" aria-label="Sort by name">
							@if (listSort == 3 || listSort == 4) {
								<button class="btn text-bold-medium text-left no-wrap text-blue" @onclick="(() => ListSort(3))" type="button">
									<span class="hover-blue">Name</span>
									@if (listSort == 3) { <span class="bi bi-sort-alpha-down"></span> }
									else if (listSort == 4) { <span class="bi bi-sort-alpha-up"></span> }
								</button>
							}
							else {
								<button class="btn text-bold-medium text-left no-wrap" @onclick="(() => ListSort(3))" type="button">
									<span class="hover-blue">Name</span>
									<span class="bi bi-sort-alpha-up text-invis"></span>
								</button>
							}
						</div>
					</th>

					<!-- Sort by author -->
      				<th scope="col justify-content-center">
						<div class="btn-group" role="group" aria-label="Sort by author">
							@if (listSort == 5 || listSort ==6) {
								<button class="btn text-bold-medium text-blue text-left no-wrap" @onclick="(() => ListSort(5))" type="button">
									<span class="hover-blue">Author</span>
									@if (listSort == 5) { <span class="bi bi-sort-alpha-down"></span> }
									else if (listSort == 6) { <span class="bi bi-sort-alpha-up"></span> }
								</button>
							}
							else {
								<button class="btn text-bold-medium text-left no-wrap" @onclick="(() => ListSort(5))" type="button">
									<span class="hover-blue">Author</span>
									<span class="bi bi-sort-alpha-up text-invis"></span>
								</button>
							}
						</div>		  
					</th>

					<!-- Sort by cards -->
      				<th scope="col">
						<div class="btn-group" role="group" aria-label="Sort by cards">
							@if (listSort == 7 || listSort == 8) {
								<button class="btn text-bold-medium text-blue text-right no-wrap" @onclick="(() => ListSort(7))" type="button">
									@if (listSort == 7) { <span class="bi bi-sort-numeric-down"></span> }
									else if (listSort == 8) { <span class="bi bi-sort-numeric-up"></span> }
									<span class="hover-blue">Cards</span>
								</button>
							}
							else {
								<button class="btn text-bold-medium text-right no-wrap" @onclick="(() => ListSort(7))" type="button">
									<span class="bi bi-sort-numeric-up text-invis"></span>
									<span class="hover-blue">Cards</span>
								</button>
							}
						</div>	
					</th>
    			</tr>
  			</thead>

			<!-- List -->
			<tbody>
				@if (sortedDeck == null) { ListSort(-1); }
				@foreach (DeckInfo item in sortedDeck)
				{

					// Search
					if (!item.Name.Contains(deckSearch, StringComparison.CurrentCultureIgnoreCase) && 
						!item.Author.Contains(deckSearch, StringComparison.CurrentCultureIgnoreCase)) continue;

					<tr>
    					<td>
							<div class="btn-group btn-group-sm">

							<!-- Reviewed -->
								<button class="btn btn-list hover-blue dropdown" tabindex="-1"> 
									<div class="dropdown">
										<div class="dropdown-menu tooltip-center">
											<span class="dropdown-item text-tooltip disabled">Reviewed before</span>
										</div>
									</div>
									<img src="svg/Select.svg" alt="" width="16" height="16" class="align-center">
								</button>

							<!-- Select -->
								<button class="btn btn-list" type="button" @onclick="(() => ModifyDeckSelect(item))">
									@if (item.Password) { <img src="svg/Lock.svg" alt="" width="16" height="16"> }
									<span class="text-light-small text-black">@item.Name</span>
								</button>
							</div>
						</td>
      					<td class="text-light-small text-black text-center">@item.Author</td>
     					<td class="text-light-small text-black text-right">@item.Cards</td>
    				</tr>
				}
  			</tbody>
		</table>
	</div>
</div>


@code
{
	private int listSort;
	private string deckSearch = "";
	private List<DeckInfo> deckList;
	private List<DeckInfo> sortedDeck;

	private void ListSort(int input) {
		if (listSort == 0) listSort = input;
		else if (listSort == input) listSort += 1;
		else if (listSort == input + 1) listSort = 0;
		else if (input != -1) listSort = input;

		switch (listSort) {
			case 0: sortedDeck = deckList; break;
			case 1: sortedDeck = deckList.OrderBy(x => x.Popularity).ToList(); break;
			case 2: sortedDeck = deckList.OrderByDescending(x => x.Popularity).ToList(); break;
			case 3: sortedDeck = deckList.OrderBy(x => x.Name).ToList(); break;
			case 4: sortedDeck = deckList.OrderByDescending(x => x.Name).ToList(); break;
			case 5: sortedDeck = deckList.OrderBy(x => x.Author).ToList(); break;
			case 6: sortedDeck = deckList.OrderByDescending(x => x.Author).ToList(); break;
			case 7: sortedDeck = deckList.OrderBy(x => x.Cards).ToList(); break;
			case 8: sortedDeck = deckList.OrderByDescending(x => x.Cards).ToList(); break;
			default: sortedDeck = deckList; break;
		}
	}

	public void CreateDeck() {
		ServiceData.Deck = new Data.DeckFull { Cards = new SortedDictionary<int, Card>() };
		Navigation.NavigateTo("/Create");
	}

	public async void ModifyDeckSelect(DeckInfo item) {
		ReturnInfo info = await Service.SelectModifyDeckAsync(ServiceData, item.Id);
		if (info.Success == true) Navigation.NavigateTo("/Create");
	}

	private async Task Initialize() {
		if (ServiceData.UserId == null) Navigation.NavigateTo("/");
		deckList = new List<DeckInfo>();
		deckList = await Service.LoadModifyInfoAsync(ServiceData);
	}

	protected override async Task OnInitializedAsync() {
		await Initialize();
	}

}