<!-- Navigation Bar -->
<nav class="navbar navbar-expand-sm border-bottom fixed-top">
    <div class="container mx-auto">
        <!-- Logo -->
        <a class="navbar-brand" aria-label="To index" asp-area="" asp-page="/Index">
            <h2>Srs</h2></a>

        <!-- Deck dropdown -->
        <div class="nav-item dropdown">
            <button class="btn btn-nav" type="button">
                <span class="bi bi-layers-fill"> Decks</span>
            </button>
            <li class="dropdown-menu dropdown-menu-decks">
                <li class="nav-item">
                    <div class="input-group input-group-sm justify-content-center">
                        <div class="input-group-prepend">
                            <span class="input-group-text bi bi-search"></span>
                        </div>
                        <input type="text" class="form-control" placeholder="Search" aria-label="Search" @onclick="() => expandSubNavSettings = !expandSubNavSettings">
                    </div>
                </li>
                <li class="nav-item mt-2">
                    <div class="btn-group btn-group-sm d-flex">        
                        <a href="fetchdata" class="btn" type="button">List</a>                            
                    </div>
                </li>
                <div class="dropdown-divider"></div>
                <li class="nav-item mt-2">
                    <div class="btn-group btn-group-sm d-flex">        
                        <a href="fetchdata" class="btn" type="button">Create / Modify</a>                            
                    </div>
                </li>
            </li>    
        </div>

        <!-- User dropdown -->
        <div class="nav-item dropdown">
            <button class="btn btn-nav" type="button">
                <span class="bi bi-person-fill"> User</span>
            </button>
            <li class="dropdown-menu dropdown-menu-user">
                <li class="nav-item">
                    <div class="input-group input-group-sm justify-content-center">
                        <div class="input-group-prepend">
                            <span class="input-group-text bi bi-person-fill"></span>
                        </div>
                        <input type="text" class="form-control" placeholder="Username" aria-label="Username">
                    </div>
                </li>
                <li class="nav-item mt-2">
                    <div class="input-group input-group-sm justify-content-center">
                        <div class="input-group-prepend">
                            <span class="input-group-text bi bi-key-fill"></span>
                        </div>
                        <input type="text" class="form-control" placeholder="Username" aria-label="Password">
                    </div>
                </li>
                <div class="dropdown-divider"></div>
                <li class="nav-item">
                    <div class="btn-group btn-group-sm d-flex">
                        <button class="btn" @onclick="() => expandSubNavSettings = !expandSubNavSettings" type="button">Login</button>
                        <button class="btn" @onclick="() => expandSubNavSettings = !expandSubNavSettings" type="button">Register</button>
                    </div>
                </li>
            </li>    
        </div>
    </div>
</nav>

@code {

    //@onclick="() => expandSubNavSettings = !expandSubNavSettings"
    private bool expandSubNavSettings;
 
}