<!-- Navigation Bar -->
<nav class="navbar navbar-expand-sm border-bottom fixed-top">
    <div class="container mx-auto">

        <!-- Logo -->
        <span class="navbar-brand navbar-text" aria-label="To index" asp-area="" asp-page="/Index">Srs</span>

        <!-- Deck dropdown button -->
        <div class="nav-item dropdown">
            <button class="btn btn-nav-big" type="button">
                <img src="svg/Deck.svg" alt="" width="32" height="32" title="Decks" class="align-center">
                <span>Decks</span>
            </button>

            <!-- Deck dropdown menu -->
            <li class="dropdown-menu dropdown-menu-decks">

                <!-- Notification -->
                @if (deckMsgTitle != null)
                {
                    <li class="nav-item">
                        <div class="alert @deckMsgType alert-dismissible fade show" role="alert">
                            <strong>@deckMsgTitle</strong><br>@deckMsg
                            <button type="button" class="close btn-sm" @onclick="(()=>SetDeckNotification())" aria-label="Close">&times;</button>
                        </div>
                    </li>
                }

                <!-- Search -->
                <li class="nav-item">
                    <div class="input-group input-group-sm justify-content-center">
                        <div class="input-group-prepend">
                            <span class="input-group-text bi bi-search"></span>
                        </div>
                        <input type="search" class="form-control" placeholder="Search" @bind="deckSearch" @onkeydown="@SearchDeck" aria-label="Search">
                    </div>
                </li>

                <!-- List -->
                <li class="nav-item mt-2">       
                    <a href="/" class="btn btn-nav-small" type="button">List</a>                            
                </li>

                <!-- Create -->
                <li class="nav-item">
                    <div class="dropdown-divider"></div>      
                    <a href="Deck" class="btn btn-nav-small" type="button">Create / Modify</a>                            
                </li>
            </li>    
        </div>

        <!-- User dropdown button -->
        <div class="nav-item dropdown">
            <button class="btn btn-nav-big" type="button">
                <img src="svg/User.svg" alt="" width="32" height="32" title="Decks" class="align-top">
                <span>User</span>
            </button>

            <!-- User dropdown menu -->
            <li class="dropdown-menu dropdown-menu-user">

                <!-- Notification -->
                @if (userMsgTitle != null)
                {
                    <li class="nav-item">
                        <div class="alert @userMsgType alert-dismissible fade show" role="alert">
                            <strong>@userMsgTitle</strong><br>@userMsg
                            <button type="button" class="close btn-sm" @onclick="(()=>SetUserNotification())" aria-label="Close">&times;</button>
                        </div>
                    </li>
                }

                <!-- Username input -->
                <li class="nav-item">
                    <div class="input-group input-group-sm justify-content-center">
                        <div class="input-group-prepend">
                            <span class="input-group-text bi bi-person-fill"></span>
                        </div>
                        <input type="text" class="form-control" placeholder="Username" @bind="username" aria-label="Username">
                    </div>
                </li>

                <!-- Password input -->
                <li class="nav-item mt-2">                  
                    <div class="input-group input-group-sm justify-content-center">
                        <div class="input-group-prepend">
                            <span class="input-group-text bi bi-key-fill"></span>
                        </div>
                        <input type="password" class="form-control" placeholder="Username" @bind="password" @onkeydown="@LoginUser" aria-label="Password">
                    </div>
                </li>

                <!-- Control buttons -->
                <li class="nav-item">
                    <div class="dropdown-divider"></div>
                    <div class="btn-group">
                        <button class="btn btn-nav-small" @onclick="(() => TryUserLogin())" type="button">Login</button>
                        <button class="btn btn-nav-small" @onclick="(() => TryUserRegister())" type="button">Register</button>
                    </div>
                </li>
            </li>    
        </div>
    </div>
</nav>

@code {
    private string username, password, deckSearch;
    private string deckMsg, deckMsgType, deckMsgTitle, userMsg, userMsgType, userMsgTitle;

    private void SearchDeck(KeyboardEventArgs e)
    {
        if (e.Code == "Enter" || e.Code == "NumpadEnter")
        {
            SetDeckNotification("Title", "this is the message, i need it to be a bit longer!!!", "success");
        }
    }

    private void LoginUser(KeyboardEventArgs e)
    {
        if (e.Code == "Enter" || e.Code == "NumpadEnter")
        {
            SetUserNotification("Title", "User created successfully!", "success");
        }
    }

    private void SetDeckNotification(string title = null, string msg = null, string type = "warning")
    {
        deckMsgTitle = title;
        deckMsg = type;
        deckMsgType = "alert-" + type;
    }

    private void SetUserNotification(string title = null, string msg = null, string type = "warning")
    {
        userMsgTitle = title;
        userMsg = msg;
        userMsgType = "alert-" + type;
    }

    private void TryUserLogin()
    {

    }

    private void TryUserRegister()
    {

    }
 
}